In [24]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [4]:
[len(i) for i in l1]

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [25]:
sum(1 for i in l1 if len(i) > 2)

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [26]:
sum(key*item for key, item in d4.items())

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [27]:
d7 = {key: value for key, value in d6.items() if key not in d5}
d7

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [28]:
[v * i for i, v in enumerate(l2)]

[0, 4, -4, -9, 0, 55, 18, -7]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [29]:
[i for i in l2 if i >= 0]

[2, 4, 0, 11, 3]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [30]:
[i if v < 0 else v for i, v in enumerate(l2)]

[2, 4, 2, 3, 0, 11, 3, 7]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [32]:
def multiply(x, y):
    """
    Умножает два числа x и y и возвращает результат умножения.

    Args:
    x (int, float): Первое число для умножения.
    y (int, float): Второе число для умножения.

    Returns:
    int, float: Результат умножения x на y.
    """
    return x * y

result1 = multiply(5, 3) # результат: 15
result1

15

In [33]:
help(multiply)

Help on function multiply in module __main__:

multiply(x, y)
    Умножает два числа x и y и возвращает результат умножения.

    Args:
    x (int, float): Первое число для умножения.
    y (int, float): Второе число для умножения.

    Returns:
    int, float: Результат умножения x на y.

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [35]:
def multiplication(a, b=1, c=1):
    return a * b * c

# Примеры использования функции с одним, двумя и тремя параметрами
print(multiplication(2)) # Вывод: 2
print(multiplication(3, 4)) # Вывод: 12
print(multiplication(2, 3, 4)) # Вывод: 24

2
12
24


5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [39]:
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)
print(multiplication(a1[0], a1[1], a1[2]))
print(multiplication(a2[0], a2[1]))
print(multiplication(a3[0], a3[1], a3[2]))
print(multiplication(a4[0], a4[1], a4[2]))
print(multiplication(a4[1], a4[2], a4[3]))

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [40]:
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

# Примеры использования функции с аргументами из задания:
result1 = multiply(*a1)
print(result1)  # Вывод результата для a1

result2 = multiply(*a2)
print(result2)  # Вывод результата для a2

result3 = multiply(*a3)
print(result3)  # Вывод результата для a3

result4 = multiply(*a4)
print(result4)  # Вывод результата для a4

750
3
3850
15000

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [42]:
def addition(a, b):
    return a + b

def subtraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    if b != 0:
        return a / b
    else:
        return "Ошибка: деление на ноль"

# Выбор пользователем операции
operation = input("Выберите операцию (+, -, *, /): ")

# Ввод двух чисел
num1 = int(input("Введите первое целое число: "))
num2 = int(input("Введите второе целое число: "))

# Выполнение выбранной операции
if operation == '+':
    result = addition(num1, num2)
elif operation == '-':
    result = subtraction(num1, num2)
elif operation == '*':
    result = multiplication(num1, num2)
elif operation == '/':
    result = division(num1, num2)
else:
    result = "Неправильный ввод операции"

print("Результат:", result)

Выберите операцию (+, -, *, /): +
Введите первое целое число: 2
Введите второе целое число: 3
Результат: 5

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [44]:
eval(input())

3+5

8

In [49]:
def calc(expression):
    parts = expression.split()  # Разбиваем строку на части
    num1 = int(parts[0])  # Получаем первое число
    operator = parts[1]    # Получаем оператор
    num2 = int(parts[2])    # Получаем второе число

    # Выполняем соответствующую операцию
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    elif operator == '%':
        return num1 % num2
    elif operator == '^':
        return num1 ** num2
    else:
        return "Ошибка: Неправильный оператор"

# Пример использования
result = calc(input())
print(result)  # Вывод результата

13 - 5
8

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [50]:
def print_car_info(**kwargs):
    brand = kwargs.get('марка', 'неизвестная марка')
    model = kwargs.get('модель', 'неизвестная модель')
    color = kwargs.get('цвет', 'неизвестный цвет')
    year = kwargs.get('год', 'неизвестный год')
    mileage = kwargs.get('пробег', 'неизвестный пробег')
    license_plate = kwargs.get('номер', 'неизвестный номер')
    price = kwargs.get('цена', 'неизвестная цена')

    message = f"Автомобиль марки: {brand}, модели: {model}, цвета: {color}, {year} года выпуска, с пробегом: {mileage} км, c номерным знаком: {license_plate}, цена: {price} руб."
    print(message)

c1 = {'марка': 'BMW', 'модель': 'X5', 'цвет': 'белый', 'год': 2006, 'пробег': '215 000', 'номер': 'X012AM77', 'цена': '1 115 000'}
c2 = {'марка': 'Audi', 'модель': 'A4', 'год': 2010, 'пробег': '150 000', 'цена': '700 000'}
print_car_info(**c1)
print_car_info(**c2)

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012AM77, цена: 1 115 000 руб.
Автомобиль марки: Audi, модели: A4, цвета: неизвестный цвет, 2010 года выпуска, с пробегом: 150 000 км, c номерным знаком: неизвестный номер, цена: 700 000 руб.


5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [51]:
def to_text(number):
    numbers_dict = {
        0: 'Ноль', 1: 'Один', 2: 'Два', 3: 'Три', 4: 'Четыре', 5: 'Пять', 6: 'Шесть', 7: 'Семь', 8: 'Восемь', 9: 'Девять',
        10: 'Десять', 11: 'Одиннадцать', 12: 'Двенадцать', 13: 'Тринадцать', 14: 'Четырнадцать', 15: 'Пятнадцать',
        16: 'Шестнадцать', 17: 'Семнадцать', 18: 'Восемнадцать', 19: 'Девятнадцать'
    }

    tens_dict = {
        2: 'Двадцать', 3: 'Тридцать', 4: 'Сорок', 5: 'Пятьдесят', 6: 'Шестьдесят', 7: 'Семьдесят', 8: 'Восемьдесят', 9: 'Девяносто'
    }

    if number < 20:  # Числа от 0 до 19
        return numbers_dict[number]
    else:  # Числа от 20 до 99
        tens = number // 10
        ones = number % 10
        if ones == 0:
            return tens_dict[tens]
        else:
            return tens_dict[tens] + ' ' + numbers_dict[ones]

# Пример использования
result1 = to_text(15)
result2 = to_text(47)
result3 = to_text(81)
print(result1)  # Печать результата для числа 15
print(result2)  # Печать результата для числа 47
print(result3)  # Печать результата для числа 81

Пятнадцать
Сорок Семь
Восемьдесят Один

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [52]:
def to_int(russian_number):
    numbers_dict = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5, 'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9,
        'десять': 10, 'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13, 'четырнадцать': 14, 'пятнадцать': 15,
        'шестнадцать': 16, 'семнадцать': 17, 'восемнадцать': 18, 'девятнадцать': 19, 'двадцать': 20, 'тридцать': 30,
        'сорок': 40, 'пятьдесят': 50, 'шестьдесят': 60, 'семьдесят': 70, 'восемьдесят': 80, 'девяносто': 90,
        'сто': 100, 'двести': 200, 'триста': 300, 'четыреста': 400, 'пятьсот': 500, 'шестьсот': 600, 'семьсот': 700,
        'восемьсот': 800, 'девятьсот': 900,
    }
    words = russian_number.split()
    number = 0
    n = 0
    while n < len(words):
        if words[n] in numbers_dict:
            if words[n] == 'сто' and (n + 1) < len(words):
                if words[n + 1] in numbers_dict:
                    number += numbers_dict[words[n]]
                    n += 1
                else:
                    number += numbers_dict[words[n]]
            elif words[n] in ['двести', 'триста', 'четыреста', 'пятьсот', 'шестьсот', 'семьсот', 'восемьсот', 'девятьсот']:
                number += numbers_dict[words[n]]
            else:
                number += numbers_dict[words[n]]

        elif words[n] == 'и':
                pass
        else:
            return 'Ошибка: неподдерживаемое слово'

        n += 1
    return number

# Пример использования
result1 = to_int('тридцать три')
result2 = to_int('сто двадцать три')
result3 = to_int('двести пятьдесят')
print(result1)  # Печать результата для 'тридцать три'
print(result2)  # Печать результата для 'сто двадцать три'
print(result3)  # Печать результата для 'двести пятьдесят'

33
103
250


6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь

In [53]:
def calc(text):
    numbers = {
        "ноль": 0, "один": 1, "два": 2, "три": 3, "четыре": 4, "пять": 5,
        "шесть": 6, "семь": 7, "восемь": 8, "девять": 9, "десять": 10,
        "одиннадцать": 11, "двенадцать": 12, "тринадцать": 13, "четырнадцать": 14, "пятнадцать": 15,
        "шестнадцать": 16, "семнадцать": 17, "восемнадцать": 18, "девятнадцать": 19, "двадцать": 20,
        "тридцать": 30, "сорок": 40, "пятьдесят": 50, "шестьдесят": 60, "семьдесят": 70, "восемьдесят": 80, "девяносто": 90
    }

    reverse_numbers = {v: k for k, v in numbers.items()}

    parts = text.split()
    num1 = numbers[parts[0]] if parts[0] in numbers else numbers[parts[0]] + numbers[parts[1]]
    operation = parts[-2]
    num2 = numbers[parts[-1]]

    if operation == "плюс":
        result = num1 + num2
    elif operation == "минус":
        result = num1 - num2
    elif operation == "умножить":
        result = num1 * num2
    else:
        return "Неподдерживаемая операция"

    if result in reverse_numbers:
        return reverse_numbers[result]
    elif result < 100:
        tens = result // 10 * 10
        ones = result % 10
        if ones == 0:
            return reverse_numbers[tens]
        else:
            return f"{reverse_numbers[tens]} {reverse_numbers[ones]}"
    else:
        return result

# Пример использования
result1 = calc('двадцать пять плюс тринадцать')
print(result1)  # Печать результата

тридцать три